@font-face {
	font-family: NeueHaas;
	src: url(../fonts/NHaasGroteskTXPro-55Rg.ttf);
}

@font-face {
	font-family: NeueHaasMedium;
	src: url(../fonts/NHaasGroteskTXPro-65Md.ttf);
}

* {
	-webkit-font-smoothing: antialiased;
	margin: 0;
	padding: 0;
}

body a {
	font-family: NeueHaasMedium;
	text-decoration: none;
}

body.night a {
	color: #fff;
}

body.day a {
	color: #403E43;
}

.underline {
	display: inline;
	position: relative;
	overflow: hidden;
	width: 40px;
}

.underline:after {
	content: "";
	position: absolute;
	z-index: -1;
	left: 0;
	right: 100%;
	bottom: -3px;
	background: #8A898C;
	height: 1.5px;
	transition-property: left right;
	transition-duration: 0.2s;
	transition-timing-function: ease-out;
}

.underline:hover:after,
.underline:focus:after,
.underline:active:after {
	right: 0;
}

body {
	font-family: NeueHaas;
	font-size: 16px;
	line-height: 24px;
}

body.night {
	background-color: #221F26;
	color: #C8C8C9;
}

body.day {
	background-color: #F6F6F7;
	color: #403E43;
}

/* h1 */
body h1 {
	font-family: NeueHaasMedium;
	font-size: 20px;
	letter-spacing: .25px;
	line-height: 28px;
}

body.night h1 {
	color: #fff;
}

/* + day h2 and h3 */
body.day h1, body.day h2, body.day h3 {
	color: #403E43;
}

/* h2 */
body h2 {
	font-family: NeueHaasMedium;
	font-size: 16px;
	letter-spacing: .25px;
	line-height: 24px;
}

body.night h2 {
	color: #fff;
}

/* h3 */
body h3 {
	font-family: NeueHaas;
	font-size: 16px;
	letter-spacing: 0.35px;
	line-height: 24px;
}

body.night h3 {
	color: #C8C8C9;
}

/* h4 */
body h4 {
	font-family: NeueHaas;
	font-size: 12px;
	letter-spacing: 1.5px;
	line-height: 20px;
	text-transform: uppercase;
}

body.night h4 {
	color: #8A898C;
}

body.day h4 {
	color: #9F9EA1;
}

body.night #moon {
	cursor: pointer;
	width: 20px;
}

body.day #moon {
	display: none;
}

body.night #sun {
	display: none;
}

body.day #sun {
	cursor: pointer;
	width: 20px;
}

/* Fixed max-width divs */
div.fixed-max-width {
	max-width: 400px;
}