@tailwind base;
@tailwind components;
@tailwind utilities;

.header-experience {
  @apply text-sm tracking-wider uppercase leading-5 font-semibold pt-4;

  @media (prefers-color-scheme: dark) {
    color: #8a898c;
  }

  @media (prefers-color-scheme: light) {
    color: #9f9ea1;
  }
}

.date-experience {
  @apply text-xs tracking-wider leading-5 uppercase font-medium py-1;

  @media (prefers-color-scheme: dark) {
    color: #8a898c;
  }

  @media (prefers-color-scheme: light) {
    color: #9f9ea1;
  }
}

.div-experience {
  @apply space-y-1.5;
}

a {
  @apply font-semibold;
}

a {
  display: inline;
  position: relative;
  overflow: hidden;
  width: 40px;
}

a:after {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: -3px;
  background: #8a898c;
  height: 1.5px;
  transition-property: left right;
  transition-duration: 0.2s;
  transition-timing-function: ease-out;
}

a:hover:after,
a:focus:after,
a:active:after {
  right: 0;
}

/* @font-face {
  font-family: "NeueHaas";
  src: url("/public/fonts/NeueHaas-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "NeueHaasMedium";
  src: url("/public/fonts/NeueHaas-Medium.ttf") format("truetype");
} */

/* 
body a {
  font-family: NeueHaasMedium;
  text-decoration: none;
}

body.night a {
  color: #fff;
}

body.day a {
  color: #403e43;
}


body {
  font-family: NeueHaas;
  font-size: 16px;
  line-height: 24px;
}

body.night {
  background-color: #221f26;
  color: #c8c8c9;
}

body.day {
  background-color: #f6f6f7;
  color: #403e43;
}

body h1 {
  font-family: NeueHaasMedium;
  font-size: 20px;
  letter-spacing: 0.25px;
  line-height: 28px;
}

body.night h1 {
  color: #fff;
}

body.day h1,
body.day h2,
body.day h3 {
  color: #403e43;
}

body h2 {
  font-family: NeueHaasMedium;
  font-size: 16px;
  letter-spacing: 0.25px;
  line-height: 24px;
}

body.night h2 {
  color: #fff;
}

body h3 {
  font-family: NeueHaas;
  font-size: 16px;
  letter-spacing: 0.35px;
  line-height: 24px;
}

body.night h3 {
  color: #c8c8c9;
}

body h4 {
  font-family: NeueHaas;
  font-size: 12px;
  letter-spacing: 1.5px;
  line-height: 20px;
  text-transform: uppercase;
}

body.night h4 {
  color: #8a898c;
}

body.day h4 {
  color: #9f9ea1;
}

body.night #moon {
  cursor: pointer;
  width: 20px;
}

body.day #moon {
  display: none;
}

body.night #sun {
  display: none;
}

body.day #sun {
  cursor: pointer;
  width: 20px;
} */

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
} */
/* 
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

/* @layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */
