/* Print-specific styles */
@media print {
  .no-print {
    display: none;
  }
  * {
    line-height: 27px; /* Maximizes the page size on Chrome */
  }

  html,
  body {
    width: 8.5in;
    height: 100%; /* Letter size height */
    overflow: hidden; /* Hide overflow content */
  }
}

/* Print page styles */
@page {
  size: letter;
  margin: 0in;
}
